$primary: #679334;
$white: #fff;

$breakpoints: (
        phone: 768px,
        tablet: 992px,
        desktop: 1200px
);

@mixin phone {
  @media (max-width: map-get($breakpoints, "phone")) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: map-get($breakpoints, "tablet")) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: map-get($breakpoints, "desktop")) {
    @content;
  }
}
